*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}


body{
    background-color: #009686
}


#resultado,
    #finalprecio{
    position:relative;
    left: 0px; 
    top: 70px; 
    display: inline-block;
    vertical-align: middle;
    bottom: 0;
    padding: 5px;

}

#botones{
    position: absolute;
  left: 235px; 
  top: 352px; 
}

#botonConfirmar2{
    position: absolute;
    left: 260px; 
    top: 352px; 
}

