/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #cfe2f3; /* Fondo celeste */
    background-image: url("Fondo.jpg");
    background-size: cover; /* Hace que la imagen de fondo cubra todo el tamaño del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Estilos para los encabezados */
  h1, h2 {
    color: #333;
  }
  
  /* Estilos para el listado de tribunas */
  #contenedor {
    margin-bottom: 20px;
    font-size: 18px; /* Tamaño de letra más grande */
    font-weight: bold; /* Establecer el texto en negrita */
   
  }
  
  
  /* Estilos para el campo de correo electrónico */
  input[type="email"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Estilos para los botones */
  button {
    padding: 10px 20px;
    background-color: #66ff99; /* Verde claro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Hacer que los botones aparezcan en la misma línea */
    margin-right: 10px; /* Espacio entre los botones */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para la tarjeta de confirmación */
  #tarjeta {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: 20px;
  }
  
  #tarjeta h2 {
    color: #333;
  }
  
  /* Estilos para los elementos dentro de la tarjeta */
  #tribuna, #cantidadTotal, #emailContacto {
    margin-bottom: 10px;
  }
  #tarjeta {
    background-color: #ffcccc; /* Cambiar a rojo claro */
    font-weight: bold; /* Establecer el texto en negrita */
  }
  button {
    padding: 10px 20px;
    background-color: black; /* negro*/
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Hacer que los botones aparezcan en la misma línea */
    margin-right: 5px; /* Espacio entre los botones */
  }
  
  /* Contenedor para los botones */
  #botonesContainer {
    display: flex; /* Establecer como contenedor flex */
    justify-content: space-between; /* Distribuir los elementos a los extremos */
    margin-top: 20px; /* Espacio entre los botones y otros elementos */
  }
  
  #confirmarPrecio, #atras {
    padding: 10px 20px;
    background-color: black; /* negro */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para el total */
  #total {
    text-align: center; /* Centrar el texto */
    font-weight: bold; /* Establecer el texto en negrita */
    font-size: 18px; /* Tamaño de fuente más grande */
  }
  
  #sumaEntrada, #restaEntrada {
    padding: 5px 10px; /* Reducir el padding para hacer los botones más pequeños */
    font-size: 14px; /* Reducir el tamaño de la fuente */
  }
  
  #recuadro-gigante {
    width: 80%; /* Ancho del recuadro */
    height: 80%; /* Altura del recuadro */
    background-color: rgba(255, 0, 51, 0.15); /* Rojo claro bordó con 15% de opacidad */
    transform: rotate(90deg); /* Rotar el recuadro 90 grados en sentido horario */
    position: fixed; /* Posición fija para que el recuadro se mantenga en su lugar al hacer scroll */
    top: 37%; /* Alineamos el recuadro en el centro vertical */
    left: 10%; /* Alineamos el recuadro en el centro horizontal */
    
    z-index: -1; /* Establecemos un z-index inferior para que esté detrás de todo el contenido */
  }
  
  #imagenLateral {
    position: fixed; /* Posición fija para que la imagen se mantenga en su lugar al hacer scroll */
    top: 30%; /* Posición vertical centrada */
    right: 10px; /* Distancia desde el borde derecho de la ventana */
     /* Otros estilos aquí */
     transform: rotate(90deg); /* Rotar la imagen 90 grados en sentido horario */
    width: 800px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
    z-index: 9999; /* Z-index alto para asegurarse de que la imagen esté sobre otros elementos */
  }
  /* Estilo para el texto de tribuna seleccionada */
#seleccionado {
    font-weight: bold;
}

/* Estilo para el texto de cantidad de entradas */
#cantidad {
    font-weight: bold;
}

  
  